[submodule "realtime_rig_dev"]
	path = brand
	url = git@github.com:brandbci/brand.git
	branch = main
[submodule "brand-modules/brand-nsp"]
	path = brand-modules/brand-nsp
	url = git@github.com:brandbci/brand-nsp.git
	brand = main
[submodule "brand-modules/brand-simulator"]
	path = brand-modules/brand-simulator
	url = git@github.com:brandbci/brand-simulator.git
	branch = main
